<script>
  data_arr = []
  id_arr = []

  function render_data(data_arr, id_arr) {
    data_arr.forEach((data, index) => {
    const id = id_arr[index]
      document.getElementById("prog-" + id).style.width = data;
    });
  };
</script>
<div class="parent_container d-flex">
  <div class="container">
    <%= render 'inventories/child_chart' %> 
  </div>
  <div class="container">
    <%= render 'inventories/parent_chart' %>
  </div>
</div>