<div class="container">
<% @sales_today.each do |sale| %>
   <% sale_num = "sale #" + sale.sale_number.to_s %>
  <p>
    <em style="color: lightseagreen;"><%= sale.created_at.strftime('%H:%M:%S') %></em>&nbsp
    <%= Date.today.strftime %>,&nbsp
    <%= link_to sale_num, sale_path(sale) %> has been added to sales
    <% unless sale.note.nil? %>
      <em style="text-decoration:underline">with note</em>
    <% end %>
  </p>
<% end %>
</div>