<% total = @record.sales %>
<% sold_items = @record.items.group_by(&:itself).values.sort_by{ |arr| arr.count }.reverse %>

<h3><%= @record.created_at.strftime('%b %e, %a') %></h3>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% sold_items.each do |item| %>
      <% product = Product.find_by(id: item[0]) %>
      <% count = item.count %>

      <% next if false_category(product) %>
      
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          X <%= count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
