<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  
  <td>
    <%= f.input :product, label: false, collection: Product.all.order(:name), input_html: {id: 'prod'} %><br>
  </td>
    
  <td id='price'></td>
    
  <td>
    <%= f.number_field :multiplier, :id => 'multi', min: 0, max: 99 %>
  </td>
  
  <td id="total"></td>
</tr>
