<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
    
  <td><%= f.input :product, label: false, as: :string %></td>
  <td>
    <div class='col-md-4'>
      <%= f.input(:multiplier, label: false, as: :integer, components: [:input], :wrapper => false) %>
    </div>
  </td>
</tr>